target/
.idea/
.vscode/
*.log
.classpath
.project
.settings/
minikube-linux-amd64
lazygit
lazygit.tar.gz
*.tar
*.geanywb
spring-k8-demo
*.geanywb
*.geany
spring-k8-demo
minikube-linux-amd64
*.tar
target/
*.zip
spring-k8-demo.zip
